a {
    color: green;
}

.navbar {
    text-align: right;
    width: 95%;
    background-color: blue;
    padding: 20px;
}

.navbar li {
    display: inline;
    margin: 2%;
}

.navbar li a{
    color: #ffffff;
    text-decoration: none;
}

#welcome {
    color: red;
    text-align: center;
}
#wel-image{
    border-radius: 90px;
}
.gallery-item{
    border-radius: 30%;
    box-shadow: 0px 1px 0px 0px;
}
.register{
    padding: 8px;
    box-shadow: 10px 5px 10px 5px rgb(88, 78, 124);
    margin: 5%;
    width: 50%;
    border-radius: 20px;
}
.basic-data{
    padding: 5%;
    box-shadow: 10px 10px 10px 10px;
    margin: 2%;
    border-radius: 30px;
}
.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    box-shadow: 0px 16px 16px 8px;
}
.flex > div{
    margin: 1%;
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    line-height: 6rem;
}
.flex > div img{
    width: 100px;
    border-radius: 50%;
    border: solid 2px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;
    padding: 1%;
}
.grid > div{
    margin: 1%;
    height: 150px;
    width: 150px;
    background-color: #ddf508;
}
.grid2{
    display: grid;
    height: 400px;
    padding: 1%;
    gap: 20px;
    grid-template-columns: 70% 30%;
}
.Intro{
    box-shadow: 0px 16px 16px 8px;
    padding: 1%;
}